@import '../0.helpers/mixins';

.recommendation-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  & .recommendation-card {
    width: 50%;
    height: 200px;

    & img {
      height: 160px;
    }
  }
}
