.login-container {
  align-items: center;
  background: url('../../images/loginCover.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-aside {
  align-items: center;
  background-color: rgb(255,255,255, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 30%;
}

.logo {
  justify-content: center;
  display: flex;
  height: 100;
  width: 100%;
}

.page-title {
  margin: 0;
  color: #d60000;
  letter-spacing: 2px;
  font-size: 4rem;
}

.form-control {
  font-size: 1.5rem;
  padding: 5px;
  width: 100%;
}

label {
  font-size: 1.2rem;
}

.div-Button {
  align-items: center;
  justify-content: center;
  transform: translateX(-7%);
}

.button {
  background-color: #9c0000;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-right: 25px;
  padding: 0.25em 1em;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

button:disabled {
  opacity: 0.3;
  transition: opacity 0.4;
}

