$lightBlue1: rgb(113, 226, 239);
$lightBlue2: rgb(56, 198, 217);
$lightBlue3: rgb(44, 178, 198);

$darkBlue1: rgb(56, 104, 149);
$darkBlue2: rgb(39, 59, 122);
$darkBlue3: rgb(18, 17, 73);

$red: rgb(255, 84, 25);

$darkWhite: rgb(208, 209, 211);

