// Helpers
@import './0.helpers/functions';
@import './0.helpers/mixins';
@import './0.helpers/variables';
@import './0.helpers/keyframes';

// Base
@import './1.Base/base';
@import './1.Base/buttons';
@import './1.Base/fonts';
@import './1.Base/forms';
@import './1.Base/links';
@import './1.Base/reset';
@import './1.Base/icons';

// Layouts
@import './2.Layout/footer';
@import './2.Layout/header';
@import './2.Layout/main';
@import './2.Layout/navigation';
@import './2.Layout/searchbar';

// Modules
@import './3.Modules/recipecards';
@import './3.Modules/ingredientsList';
@import './3.Modules/subHeader';
@import './3.Modules/detailsAndProgress';
@import './3.Modules/optionPage';

// Pages
@import './4.Pages/Login.scss';

// Pages
@import './4.Pages/RecipeDetails.scss'

