.container-card {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.unit-card {
  width: 46%;
  margin: auto;
  margin-bottom: 15px;
  border: 1.5px solid rgb(243, 91, 4);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.recipe-card {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border: 1.5px solid rgb(243, 91, 4);
  border-radius: 10px;
  text-align: center;
  display: flex;
}

.recipe-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding-left: 10px;
  padding-top: 5px;
}

.icons-card {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.img-card {
  border-radius: 10px;
}

.tags-card {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.card-main-img {
  width: 50%;
}

.card-main-img img {
  border-radius: 10px;
}

.container-recipe-card {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.date-text {
  font-size: 14px;
}

.title-card {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.title-card-done {
  max-width: 11ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 0px 3px;
}
