/* body {
  background-color: #505050
  ;
} */

.footer {
  width: 100%;
  background-color: #FFD43A;
  height: 50px;
  border-top: 3px solid black;
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header {
  width: 100%;
  background-color: #FFD43A;
  height: 79.875px;
  border-bottom: 3px solid black;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.big-btn {
  width: 93%;
  height: 82px;
  left: 14px;
  top: 196px;

  background-color: #F8F8F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  
  font-family: Epilogue;
  font-size: 26px;
  line-height: 27px;

  margin: 20px 20px 0px 20px;

}

.cesta-icon {
  background: url(https://s3-alpha-sig.figma.com/img/6e34/fe85/2559d732bb56bf43c03c6fbadae10d46?Expires=1607904000&Signature=JjrDRqma0bQMOb9oLtRh829EJ7P3jY6j-Z~Pkle1eAoyGiokYqEdfDX74KzAaxp2Kz~4TQzHVcDFfhRTURWIWXk17xhkAxNHPp1Ofly~~jOUGYY~~p7dRJa89bxr22H-BWBru~tjaTbNZVF-JuvYyUfJ7tRy3A98ld8QOcZNwn2MakwNY~ywm2lZZIrzmwPJ42EsF7C2ljkNuLNEfyXVOPHEOG-YJd0TGegxvoJB1f3RZrDHrdUiB5wq5Vn64uDy~TVDSgTzaDN2ik4yVoMIyxt2-U4GRq9zLdWK5o5AJZbJ8~n7gE9d6IhEhpaczROtUCiyjAMd5w38PJ5bDtvYvQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
  background-size: 70px;
  background-position-x: 10px;
  background-position-y: 5px;
}
.globo-icon {
  background: url(https://s3-alpha-sig.figma.com/img/4af1/7bad/204ed6440fc9f98ff5790a9a9c3d4e12?Expires=1607904000&Signature=XqnYPNwdAnqihE6dwcP6iIZZOdyCw3Noes6gnXIlrJGLny5cCeg~PsT-joNp7CJlesoiipbRUFpKLWJsx26EjaoNV1t9eKILhqd3WCHZuCMUWXfOgjpIfXcH34SgcpiaKOrLnvCceA-mnmtgY3NjkwjGxi9xXd9vSuO6-LVsb9HJagDMzQrBknm3ZXrKmT1tSonHAYM-UV-AUiL2N7odPr~xYkBb43GyyEjgUF-kinh~RTkGzE4c9~QANzvA0epK~PWhFUoSoBpi0TN7-cuASUh9Qk1gJrVi6JwKwuur0iSCZ64tSYgv-dYStSlKaSbPQbz7E2Y29K6QUGkypwYdvw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
  background-size: 60px;
  background-position-x: 15px;
  background-position-y: 10px;
}
.surpresa-icon {
  background: url(https://s3-alpha-sig.figma.com/img/fb4a/7d94/6fa17981751f1d47416981c1c632e554?Expires=1607904000&Signature=LqO3nwvaMCoXDEmUKngvv~Ry0tSZeBJkiVvI38Z6DzNBv6YUHh33O3yYVzm~H2WMfOIskhTWtFbcIj7fIwK6vZcTti0s3ynM-FJEPzHlGJtIzX6oKxDlwyaJ~Qe1tEPbqkef2NbboCsJfJgNn59VKDJ6qQ43Tpk2ccRNXQaUw~E8gSqPgGjlTsbdMV0iRUsoBiWqMhyY3AE3ifo1HTXm53Ggf~H3EBnnOH1eIR1-OKr6qZKIrihuYzGy4pdtHX4WSuHqTH3NGCRE~6hnRS2VwmSaYmIAOX4dqPyshEZ2YslVJ-1iEhmy2uzH3R4KZChg2tPmZa~crCqS2fdtbUKNGg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
  background-size: 70px;
  background-position-x: 10px;
  background-position-y: 0px;
}
.comida-icon {
  background: url(https://s3-alpha-sig.figma.com/img/9ad8/bad4/ba310b9799e95da825593be858214fc3?Expires=1607904000&Signature=IcKjbrnid3RlkrLIEopn-F~~zZQ1Ui0b24I32q9JwCHVayx7Fm5YNwKoRyP91kOQvoElZVSGRKwLZtTxNpGScQmdBBP3XDgRI3VmHTtSdFvRpaJ8vFN-p6cORlU2K-QW9cHKBjaP2nvNW-zKAFnk~T1exBqKZuybxU7wo8aQWQhpsTl4ABgYLL9~5lNqO0caXp9I71rTwU1asSChNalh9nWUl7cZCFV12b2SNXlc1EcRB2y7QnoBLf8b-rWZz9DEcy9f0NcfhzWmyVcbSonOEYruyuanNYNlq8mj~1GfCV30ccAcJQO4P~PImNC5Nw7rFZz4aoU7KtUFc7bsI~UCzA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
  background-size: 90px;
  background-position-x: 10px;
  background-position-y: 5px;
}
.bebida-icon {
  background: url(https://s3-alpha-sig.figma.com/img/35c3/54eb/692d2d0b57b0beff114e9a64324e7294?Expires=1607904000&Signature=bKAB8~8FoKgvOk4tGfPu7Lpg-kcsKe9gtmrOT97zvtbo9cI5EyQSUCAFc3ai3Atkn9uucWDlYonzqbb6Qa4-HBSU-TU0SiRcq~30Tp5eHQ~61sXk3X8ofMHjYX3kfS3jqDcyqiUV3t0uwO6psEqKMLs3JX6QsR6FHhCg87A-WhDNwoMJwDtG~Rv7ivFIxNHjCEkNJVAMK724sNUBrgcKOEpPG02gBc~b132I2hrwEHSL9Qqp3aQ6i64mo6U7DRAUooXUtanMqtGGmrJtPJxh8zpEThOvPlfjz7q3oDhnNkkivgLNMwiOE2DitMggK4K6xCDWQ0jcrMzF5JOWkRGbCA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
  background-size: 70px;
  background-position-x: 25px;
  background-position-y: 0px;
}

/* .headerSearch {
  margin-top: 84px;
} */
