body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.foods-container,
.drinks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 40px;
  margin: 80px 0;

  padding: 0 40px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  border: 1px solid black;
  padding-bottom: 15px;
}

.recipe-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

/* single recipe */

.recipe-details-page > img {
  height: 10vh;
}

.recommendations-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  overflow-x: auto;
}

.recommendations-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations-container a img {
  height: 10vh;
  width: 40vw;
  object-fit: cover;
}

.ingredients-checkbox-container .item-checked {
  text-decoration: line-through;
}

.done-recipe-card img {
  height: 10vh;
}
