.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 90px;
  padding: 30px 15px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.search-input {
  width: 100%;
}

.form-search {
  margin: 5px;
}

.btn-search {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
