.img-initial {
  width: 100%;
}

.title-e-icons {
  display: flex;
  justify-content: space-between;
}

.category {
  margin-left: 10px;
}

.title-e-icons span {
  margin-left: 10px;
}

.title-e-icons img {
  margin-right: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.title-e-icons img:hover {
  opacity: 1;
}

.video {
  width: 100%;
}

.video img {
  width: 100%;
}

.main-recomendations {
  display: flex;

  width: 100%;
  height: auto;
  overflow: scroll;
}

.main-scroll img {
  width: 175px;

}

.button-initial-recipe {
  
  display: flex;
  justify-content: center;
} 

.button-initial-recipe button {
  position: fixed;
  bottom: 0;
  background-color: chartreuse;
  font-size: 20px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
  cursor: pointer;
}

.button-initial-recipe button link {
  text-decoration: none;
}

.link-button {
  text-decoration: none;
  color: black;
}

