.img-initial {
  width: 100%;
}

.video {
  width: 100%;
}

.video img {
  width: 100%;
}

.main-recomendations {
  display: flex;

  width: 100%;
  height: auto;
  overflow: scroll;
}

.main-scroll img {
  width: 175px;

}