.img-initial {
  width: 100%;
}

.amount-ingredients ul {
  background-color: rgb(168, 168, 168);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.amount-ingredients li {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 16px;
}

.container-video span {
  width: 100%;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 22px;
}

.text-instructions-details {
  background-color: rgb(168, 168, 168);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: justify;
  line-height: 22px;
  margin-bottom: 15px;
}

.container-video img {
  width: 94.5%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.container-recomendations {
  display: flex;

  width: 100%;
  margin-bottom: 53px;
  margin-left: 10px;
  height: auto;
  overflow: scroll;
}

.recomendation-span {
  margin-left: 10px;
  font-size: 22px;
}

.main-scroll img {
  width: 175px;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.main-scroll p {
  text-align: center;
  margin-top: 5px;
}
