.explore-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.explore-btn-link {
  display: flex;
  justify-content: center;
}

.explore-btn-option {
  background-color: #A98036;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  height: 52px;
  margin-top: 30px;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}