.body-recipe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: relative; */
  width: 100%;
  background: #FFFFFF;
  /* text-align: center; */
}


.recipe-img {
  width: 100px;
  /* height: 100vh; */
}

.start-recipe-btn {
  background-color: rgba(255, 255, 0, 0.856);
  border: none;
  bottom: 0px;
  left: 0%;
  margin: 0px;
  /* margin: 0px 0px 0px 30px; */
  padding: 0vh 40%;
  font-size: 1.3em;
}

button {
  margin-top: 20px;
}
