.recipe-details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recipe-details-image {
  border-radius: 10;
  width: 100%;
}

.recipe-details-name {
  color: #FFF6E5;
  font-size: 40px;
  text-align: center;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.favorite-and-share-btn-container {
  display: flex;
}

.favorite-btn {
  background: none;
  border: none;
}

.recipe-details-category {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-around;
  margin-top: 10;
  text-align: center;
}

.ingredients-list {
  font-family: cursive;
  font-size: 18px;
}

.recipe-details-instructions {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.recipe-details-video {
  margin: 10px;
}

.carousels-container {
  display: flex;
  justify-content: center;
}

.start-recipe-btn {
  background-color: #A98036;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
  width: 150px;
}
