.details-container {
  display: flex;
  flex-direction: row;
}

.btn-outline-dark-detail {
  border: none;
  margin-bottom: 10px;
  width: 80px;
}

.image-detail {
  width: 90%;
}

.container-detail {
  /* margin-left: 35px; */
  width: 100%;
}

.title-detail {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  margin-left: 0;
}

.description {
  width: 100%;
  text-align: justify;
}

.image-container {
  margin-left: 30px;
}

.description-container {
  width: 90%;
}