.container-details {
  background-color: #f5f5f5;
  width: 100%;
}

.container-details img{
  width: 100%;
}

.div-header {
  background-color: #272c35;
  color: #ffffff;
  margin-top: -5px;
  width: 100% !important;
}

.div-icon {
  align-items: flex-start !important;
  align-content: flex-start !important;
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: flex-start !important;
  margin-left: -200px !important;
  padding: 5px 0px;
  width: 100% !important;
}

.div-icon button {
  height: 50px;
  margin: 5px;
  padding: 5px;
  width: 50px;
  z-index: 100;
}

.div-icon img {
  width: 25px;
}

.div-icon p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 700;
  left: 70px;
  position: relative;
}

.div-title {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
}

.div-title h1 {
  color: #ffffff !important; 
  font-family: 'Montserrat', sans-serif;
  font-size: 30pt !important;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
}

.div-title p {
  color: #ffffff !important; 
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt !important;
}

.div-recipes {
  align-items: center !important;
  align-content: center !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: center !important;
  margin: auto;
  margin-bottom: 100px !important;
  width: 100% !important;
}

.div-recipes h2{
  color: #272c35 !important; 
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt !important;
  width: 90% !important;
}

.div-recipes p, 
.div-recipes ul {
  color: #272c35 !important; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt !important;
  width: 95% !important;
}

.div-recipes iframe {
  height: 250px;
  width: 320px;
}

.cards {
  align-items: center;
  align-content: center;
  background-color: #272c35;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.scroller {
  align-items: center;
  align-content: center;
  background-color: #272c35;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  align-items: center;
  align-content: center;
  background-color: #272c35;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 45%;
}

.card img{
  border-radius: 25%;
  border-bottom-left-radius: 0%;
  width: 100%;
}

.card h2 {
  background-color: #f5f5f5;
  color: #272c35;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt !important;
  font-weight: 700;
  margin-top: -5px;
  padding: 2% 0;
  text-align: center;
  width: 100% !important;
}

.card a {
  text-decoration: none !important;
}

.card a:hover {
  text-decoration: none !important;
}

.invisible {
  display: none;
}

.div-buttons-scroller {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 300px;
}

.div-buttons-scroller button{
  background-color: #272c35;
  border: none;
  border-radius: 50%;
  padding: 3px 6px;
  margin: 2%;
}

.div-buttons-scroller button:hover{
  background-color: #3d424d;
  cursor: pointer;
}

.div-buttons-scroller img{
  width: 40px;
}

.buttons-details {
  background-color: #960051;
  bottom: 0px;
  height: 100px;
  position: fixed;
  width: 100%;
}

.buttons-details div{
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.buttons-details button{
  border: none;
  border-radius: 5px;
  bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 360px;
}

.start-recipe {
  background-color: #272c35;
  color: #ffffff;
}

.start-recipe:hover {
  background-color: #3e444e;
  cursor: pointer;
}

.back {
  background-color: #f5f5f5;
}

.back:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.loading {
  animation: rotate .4s linear infinite;
  margin: auto;
  width: 10%
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(180deg)
  }

  75% {
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login {
    flex-flow: row nowrap;
    margin-top: 20%;
  }

  .login img {
    width: 300px;
  }
} 

/* @media only screen and (min-width: 1024px) {
  .container-details  {
    align-items: flex-start !important;
    align-content: flex-start !important;
    display: flex !important;
    flex-flow: row-reverse wrap !important;
    justify-content: flex-start !important;
  }
  
  .container-details img{
    width: 50%;
  }

  .div-header {
    width: 50%;
  }
    
  .div-recipes {
    align-items: flex-start !important;
    align-content: flex-start !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start !important;
    width: 40% !important;
  }

  .div-recipes h2{
    color: #272c35 !important; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt !important;
    width: 50% !important;
  }
  
  .div-recipes p, 
  .div-recipes ul {
    color: #272c35 !important; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt !important;
    width: 40% !important;
  }

  .div-recipes iframe {
    height: 250px;
    width: 320px;
  }
  
  .cards {
    align-items: center;
    align-content: center;
    background-color: #272c35;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  
  .scroller {
    align-items: center;
    align-content: center;
    background-color: #272c35;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .card {
    align-items: center;
    align-content: center;
    background-color: #272c35;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 45%;
  }
  
  .card img{
    border-radius: 25%;
    border-bottom-left-radius: 0%;
    width: 100%;
  }
  
  .card h2 {
    background-color: #f5f5f5;
    color: #272c35;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt !important;
    font-weight: 700;
    margin-top: -5px;
    padding: 2% 0;
    text-align: center;
    width: 100% !important;
  }
  
  .card a {
    text-decoration: none !important;
  }
  
  .card a:hover {
    text-decoration: none !important;
  }
  
  .invisible {
    display: none;
  }
  
  .div-buttons-scroller {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 300px;
  }
  
  .div-buttons-scroller button{
    background-color: #272c35;
    border: none;
    border-radius: 50%;
    padding: 3px 6px;
    margin: 2%;
  }
  
  .div-buttons-scroller button:hover{
    background-color: #3d424d;
    cursor: pointer;
  }
  
  .div-buttons-scroller img{
    width: 40px;
  }
  
  .buttons-details {
    background-color: #960051;
    bottom: 0px;
    height: 100px;
    position: fixed;
    width: 100%;
  }
  
  .buttons-details div{
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  
  .buttons-details button{
    border: none;
    border-radius: 5px;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
    margin-top: 5px;
    width: 360px;
  }
  
  .start-recipe {
    background-color: #272c35;
    color: #ffffff;
  }
  
  .start-recipe:hover {
    background-color: #3e444e;
    cursor: pointer;
  }
  
  .back {
    background-color: #f5f5f5;
  }
  
  .back:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  } 
} */