/* body {
  background-image: url('../images/bg.png');
} */

.carousel {
  display: flex;
  overflow: auto;
  width: 300px;
}

/* .start-recipe-btn {
  margin-top: 30px;
  bottom: 0;
  position: fixed;
} */

.detail-container {
  justify-content: center;
}

.detail-card {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-hr {
  width: 90%;
  border: 0.3px solid rgba(97, 96, 96, 0.150);
}
