.div-buttons {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  margin-top: 50%;
}

.div-buttons button {
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  width: 285px;
}

.button-drink-page {
  background-color: #fffb00;
}

.button-drink-page:hover {
  background-color: #f6eb11;
  cursor: pointer;
}

.button-food-page {
  background-color: #fac001;
}

.button-food-page:hover {
  background-color: #e9b304;
  cursor: pointer;
}

.button-ingredient {
  background-color: #4fd401;
}

.button-ingredient:hover {
  background-color: #47c001;
  cursor: pointer;
}

.button-area {
  background-color: #02bbdb;
}

.button-area:hover {
  background-color: #02a6c3;
  cursor: pointer;
}

.button-surprise {
  background-color: #bd0165;
}

.button-surprise:hover {
  background-color: #ac015c;
  cursor: pointer;
}

@media only screen and ( min-width : 1024px ) {
  .div-buttons {
    margin-top: 20%;
  }
}
