.footer {
  background-color: gray;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 357px;
}

button {
  background-color: none;
  border: none;
}

a {
  font-size: 14px;
  text-decoration: none;
}