.footer {
  align-items: center;
  background: #C4C4C4;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  margin-left: 0px;
  margin-top: 0px;
  position: fixed;
  width: 100%;
 }