.footer {
  align-items: center;
  background-color: #960051;
  bottom: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 70px;
  position: fixed;
  width: 360px;
}

.button-drink {
  background-color: #f1e510;
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.button-drink:hover {
  background-color: #e4cd03;
  cursor: pointer;
}

.button-explore {
  background-color: #b6b6b1;
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.button-explore:hover {
  background-color: #92928f;
  cursor: pointer;
}

.button-food {
  background-color: #fac001;
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.button-food:hover {
  background-color: #e9b304;
  cursor: pointer;
}
