.header {
  align-items: center;
  background-color: #960051;
  top: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 70px;
  position: fixed;
  width: 360px;
  z-index: 100;
}

.header h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.header button {
  background-color: #960051;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.header button:hover {
  background-color: #92928f;
  cursor: pointer;
}

.header-logo {
  width: 15%;
}
