body {
  background-color: #272c35;
}

.login {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 100%;
}

.login img {
  background-color: #f5f5f5;
  border-radius: 10% 10% 10% 0%;
  margin: auto;
  margin-bottom: 5%;
  padding: 3%;
  width: 200px;
}

.login form {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
}

.login form input {
  border: 1px solid #272c35;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  height: 30px;
  text-align: center;
  width: 280px;
}

.login form input:focus {
  border: 2px solid #960051;
  outline: none !important;
}

form button {
  background-color: #960051;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 285px;
}

form button:hover {
  background-color: #bd0165;
  cursor: pointer;
}

form button:disabled,
form button:hover:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
