.filter-container {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 50px;
  margin-top: 70px;
  align-items: center;
}

.filter-button {
  height: 27px;
  border-radius: 13.5px;
  margin: 5px;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  border-radius: 6px;
  width: 30%;
}

.card-container img {
  width: 100%;
}