.container-profile {
  margin: 0 auto;
  width: 640px;
}

.email-profile span {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 40px 0;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 100px;
  width: 335px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #c4c4c4;
}
