body {
  height: 640px;
  position: relative;
  width: 360px;
}

.container-progress {
  background-color: #f5f5f5;
  border: 1px solid #cecccc;
  margin: auto;
  min-height: 640px;
  width: 360px;
}

.container-progress img{
  margin: 0;
  width: 360px;
}

.div-header {
  background-color: #272c35;
  color: #ffffff;
  margin: 0;
  margin-top: -1%;
  max-height: 300px;
  min-height: 150px;
  padding: 1% 0%;
  width: 360px;
}

.div-icon {
  height: 35px;
  position: relative;
  left: 200px;
}

.div-icon button {
  margin-left: 5%;
}

.div-icon img {
  width: 25px;
}

.div-icon p {
  right: 100px;
  bottom: 50px;
  position: relative;
}

.h1 {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 900;
  justify-content: center;
  width: 360px;
}

.div-recipes {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 70px;
  width: 320px;
}

.div-recipes h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.div-recipes div {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.div-recipes input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

.finish-recipe {
  background-color: #960051;
  border: none;
  border-radius: 5px;
  bottom: 0px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  position: fixed;
  width: 360px;
}

.finish-recipe:hover {
  background-color: #bd0165;
  cursor: pointer;
}
