.div-bttn-category {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.div-bttn-category button {
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
} 

.div-bttn-category button:hover {
  cursor: pointer;
}

.bttn-category-drink {
  background-color: #f1e510;
}

.bttn-category-drink:hover {
  background-color: #e4cd03;
}

.bttn-category-meals {
  background-color: #e9b304;
}

.bttn-category-meals:hover {
  background-color: #fac001;
}

.card-div {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 30px;
  width: 360px;
}

.card-div div {
  margin: 0 auto;
  width: 50%;
}

.card-div img {
  border-radius: 25%;
  width: 100%;
}

.card-div h1 {
  background-color: #ffffff;
  bottom: 60px;
  color: #960051;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  left: 10px;
  position: relative;
  text-decoration: none !important;
  width: 80%;
}
