.div-bttn-category {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.div-bttn-category button {
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
} 

.div-bttn-category button:hover {
  cursor: pointer;
}

.bttn-category-drink {
  background-color: #f1e510;
}

.bttn-category-drink:hover {
  background-color: #e4cd03;
}

.bttn-category-meals {
  background-color: #e9b304;
}

.bttn-category-meals:hover {
  background-color: #fac001;
}

.card-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 30px;
  width: 360px;
}

.card-div div {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 2% auto;
  width: 60%;
}

.card-div img {
  border-radius: 25%;
  border-bottom-left-radius: 0%;
  cursor: pointer;
  width: 100%;
}

.card-div h1 {
  background-color: #272c35;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 2% 0;
  text-align: center;
  width: 100%;
}

.card-div a {
  text-decoration: none !important;
  cursor: alias;
}

.card-div a:hover {
  text-decoration: none !important;
}