.div-bttn-category-cards {
  margin-top: 75px;
  width: 100%;
}

.cards-div {
  padding: 10px 0px 75px;
  width: 100%;
}

.card-div {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.card-div div {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 10%;
  width: 250px;
}

.card-div img {
  border-radius: 25% 25% 25% 0%;
  cursor: pointer;
  width: 100%;
}

.card-div h1 {
  background-color: #f5f5f5;
  color: #272c35;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  margin: 0;
  padding: 2% 0;
  text-align: center;
  width: 250px;
}

.card-div h1:hover {
  background-color: #cecccc;
}

.card-div a {
  text-decoration: none !important;
}

.card-div a:hover {
  text-decoration: none !important;
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1024px) {

} */