.div-search {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
}

.input {
  border: 1px solid #cecccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  height: 30px;
  margin-top: 70px;
  text-align: center;
  width: 300px;
}

.input:focus {
  border: 2px solid #960051;
  outline: none !important;
}

.input-radio {
  border: 1px solid #cecccc;
  height: 20px;
  width: 20px;
}

.input-radio:checked::after {
  border: 2px solid #960051;
  background-color: #960051;
  color: #960051;
  outline: #960051;
}

.label-radio {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

.label-radio:focus {
  font-weight: 900;
  color: #960051;
}

.bttn-search {
  background-color: #960051;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  height: 40px;
  margin-top: 5px;
  width: 305px;
}

.bttn-search:hover {
  background-color: #bd0165;
  cursor: pointer;
}
