.header {
  align-items: center;
  background: #C4C4C4;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 58px;
  margin-left: 0px;
  margin-top: 0px;
}

.image {
  background: none;
  border: none;
  width: 3%;
  height: 30px;
  outline: none;
}