@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

.email-localStorage {
  font-size: 20px;
  text-align: center;
}

.botoes {
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 3px;
  font-size: 18px;
  margin: 8px;
  margin-left: 18px;
  padding: 10px;
  width: 90%;
}

.email-localStorage {
  /* border: 1px solid; */
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}
