.btn-outline-dark-explore {
  border: solid 1px black;
}

.button-explore {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-top: 50px;
}

[class*=btn-outline-dark-explore]:hover {
  background-color: rgb(46, 45, 45);
  color: white;
}

a:hover {
  text-decoration: none;
}