.category-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3px;
  width: 100%;
}

.btn-filter {
  background-color: white;
  color: #232525;
  text-decoration-thickness: 2px;
  outline: none;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-bottom-color: #232525;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 5px;
  min-width: 35%;
  padding: 3px;
  text-align: center;
}

.btn-filter:active {
  border-width: 0 0 3px 0;
  border-bottom-color: #2D6A4F;
}

.btn-filter:focus {
  border-width: 0 0 3px 0;
  border-bottom-color: #2D6A4F;
}

.btn-filter:target {
  border-width: 0 0 3px 0;
  border-color: #2D6A4F;
}