header {
  background-color: #40916C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  color: #232525;
}

header img {
  color: #2D6A4F;
}

.header-btn {
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
}
