/* Login Page */

.user-alt {
  color: white;
  font-size: 60px;
}

.form-control {
	background: #f2f2f2;
	font-size: 16px;
	border-color: transparent;
	box-shadow: none !important;
}

.form-control:focus {
	border-color: #91d5a8;
	background: #e9f5ee;
}

.form-control, .btn {
	border-radius: 2px;
}

.login-form {
	width: 380px;
	margin: 0 auto;
}

.login-form h2 {
	margin: 0;
	padding: 30px 0;
	font-size: 34px;
}

.login-form .avatar {
	margin: 0 auto 30px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4aba70;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
	width: 100%;
}

.login-form .form {
	color: #7a7a7a;
	border-radius: 4px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form .btn, .login-form .btn:active {
	font-size: 16px;
	line-height: 26px;
	min-width: 120px;
	font-weight: bold;
	background: #4aba70 !important;
	border: none;
}

.login-form .btn:hover, .login-form .btn:focus{
	background: #40aa65 !important;
}

.form-check-label {
	margin-top: 9px;
}

.form-check-label input {
	margin-top: 3px;
}

.login-form a {
	color: #4aba70;
}

.login-form a:hover {
	text-decoration: underline;
}

.hint-text {
	color: #999;
	text-align: center;
	padding-bottom: 15px;
}

/* Footer Component */

.footer {
  background: #4aba70;
  border-radius: 0px;
  bottom: 0px;
  height: 58px;
  position: fixed;
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-icon {
  margin: 10px;
}

/* Header Component */

.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
}

.header {
  height: 58px;
  width: 360px;
  border-radius: 0px;
  background: #4aba70;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  margin: 10px;
  font-size: 29px;
  white-space: nowrap;
}

.perfil-icon {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.btn-search {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: transparent;
}

.btn-search-hide {
  visibility: hidden;
}

/* Recommended Component */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommended-text {
  font-weight: 600;
  margin: 0px 20px;
}

/* Drink page */

.recipe-card {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 10px;
  box-shadow: black 5px 4px 14px -4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 10px;
  width: 150px;
}

/* Explore page */

.body-explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 360px;
}

/* Favorite Recipes */

.fav-cards-container {
  display: grid;
  gap: 0.6rem;
}

.fav-card {
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 10px;
  box-shadow: black 5px 4px 14px -4px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-left: 15px;
  width: 88%;
}

.fav-img {
  border-radius: 5px;
  width: 100%;
}

.fav-title {
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  left: 5%;
  margin: 0;
  padding: 0;
  position: relative;
  width: fit-content;
  z-index: 98;
}

.favorite-filters {
  margin-left: 130px;
}

/* Done Recipes */
.done-cards-container {
  display: grid;
  gap: 0.4rem;
}

.done-card {
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 10px;
  box-shadow: black 5px 4px 14px -4px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-left: 10px;
  width: 90%;
}

.done-card-img {
  border-radius: 5px;
  width: 70%;
}

.done-card-title {
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  left: 5%;
  margin: 0;
  padding: 0;
  position: relative;
  width: fit-content;
  z-index: 98;
}

/* Food Details */

.recipe-head {
  align-items: center;
  background-color: #30333173;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.recipe-title {
  font-size: 1.9em;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.recipe-category {
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
}

.recipe-img {
  width: 100%;
}

.start-btn-div {
  height: 37px;
  width: 100%;
}

.start-recipe-btn {
  background-color: rgba(255, 255, 0, 0.856);
  border: none;
  border-radius: 5px;
  bottom: 0px;
  font-size: 1.3em;
  height: 40px;
  left: 15%;
  margin-bottom: 58px;
  position: fixed;
  width: 70%;
}

.action-btns-div {
  display: flex;
  height: 40px;
  justify-content: space-around;
  width: 100%;
}

.share-btn {
  background-color: yellow;
  border: 1px black;
  border-radius: 5px;
}

.share-btn img {
  width: 20%;
}

.copied-span {
  background-color: #17181773;
  bottom: 10%;
  color: white;
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  position: fixed;
  right: 30%;
  width: 40%;
}

.fav-btn {
  background-color: yellow;
  border: none;
  border-radius: 5px;
}

.share-icon {
  width: 20%;
}

.recipe-instructions {
  margin: 5px 20px;
  text-align: justify;
}

/* Progress */

.body-recipe {
  width: 360px;
  height: 550px;
  background: #FFFFFF;
  text-align: center;
}

.recipe-img {
  width: auto-fit;
}

.ingredient-checkbox:checked + label {
  text-decoration: line-through;
}

/* Perfil Page */

.body-perfil {
  width: 360px;
  height: 90vh;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}

/* Food Page/Drink page */

.food-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  background: rgb(226, 226, 226);
}

.mobile-container {
  width: 360px;
  background: white;
  /* background-color: #c1e9ce; */
  margin-top: 58px;
  margin-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-sub-header {
  margin: 2px;
}

.card-img {
  width: 80%;
}
