#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.loading {
  align-items: center;
  display: grid;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  width: 85%;
}

.loading-text {
  width: auto;
}

.recipes-page {
  align-items: center;
  background-color: rgb(230,230,230);
  justify-content: center;
  margin: auto;
  width: 85%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  justify-content: center;
  margin: auto;
  width: auto;
}

.inputForm {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  width: 100%;
}

.radioBtns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-top: 8px;
  width: 50%;
}

.btnForm {
  display: flex;
  margin-top: 8px;
  width: 20%;
}

.category-button {
  background-color: rgb(240,240,240);
  margin-top: 25px;
  padding: 5px;
  width: auto;
}

.recipes-section {
  align-items: center;
  display: grid;
  flex-direction: unset;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
  justify-content: center;
  margin: auto;
  width: 90%;
}

.recipe-card {
  background-color: rgb(240,240,240);
  border-radius: 8%;
  height: 250px;
  margin: 10px;
  position: relative;
  width: 250px;
}

.recipe-card .recipe-name {
  bottom: 10px;
  color: rgb(240,240,240);
  font-size: x-large;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  -webkit-text-stroke: 1px rgb(40, 40, 40);
  z-index: 999;

}

.recipe-thumb {
  border-radius: inherit;
}
